@import '/src/styles/variables/common.scss';

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;

  &__text {
    display: flex;
    align-items: center;
  }
}

.contacts {
  display: flex;
  column-gap: 30px;

  &__link {
    display: flex;
    align-items: center;
    column-gap: 10px;
    transition: all 0.3s;

    &:hover {
      opacity: $icons-opacity;
    }
  }
}
