@import '/src/styles/variables/colors.scss';

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 15px;

  &__bottom {
    display: flex;
    justify-content: space-between;
  }

  &_submitError {
    position: absolute;
    top: 100%;
    left: 0;
    color: $color-font-error;
  }
}
