@import '/src/styles/variables/media.scss';
@import '/src/styles/mixins/media.scss';
@import '/src/styles/extends/text.scss';

.list {
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  gap: 40px;

  @extend %user-select-none;

  @include respond-to(sm, lg) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include respond-to(0, sm) {
    grid-template-columns: 1fr;
  }
}
