@import '/src/styles/variables/common.scss';
@import '/src/styles/mixins/hover.scss';

.galleryPreview {
  @include any-hover {
    .photo {
      transform: scale(1.1);
    }

    .title {
      opacity: $links-opacity;
    }
  }

  &:active .title {
    opacity: $links-opacity;
  }
}

.photo {
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: all 0.3s;
}

.title {
  margin-top: 15px;
  font-size: 35px;
  text-align: center;
  transition: all 0.3s;
}
