$arrowOffset: 30px;

.slide {
  height: 100vh;
}

.slideImage {
  object-fit: 'cover';
}

.arrowIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  opacity: 0.5;

  z-index: 10;
  cursor: pointer;

  &--left {
    left: $arrowOffset;
  }

  &--right {
    right: $arrowOffset;
  }
}
