@import '/src/styles/variables/layout.scss';
@import '/src/styles/variables/text.scss';
@import '/src/styles/variables/colors.scss';

.container {
  display: block;
}

.menu {
  position: fixed;
  top: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;

  width: $menu-width;
  padding: 40px 10px 40px 30px;

  z-index: 10000;
}

.logo {
  display: flex;
  flex-direction: column;
}

.title,
.subtitle {
  font-family: $font-display;
  font-weight: 500;
}

.title {
  margin-bottom: 10px;

  font-size: 40px;
}

.subtitle {
  font-size: 25px;
}

.content {
  margin-left: $menu-width;
  padding: 50px;

  background-color: $colog-bg-primary;
}
