@import '/src/styles/variables/layout.scss';
@import '/src/styles/variables/text.scss';
@import '/src/styles/variables/colors.scss';
@import '/src/styles/variables/media.scss';
@import '/src/styles/mixins/media.scss';
@import '/src/styles/mixins/hide-scrollBar.scss';

.container {
  display: block;
}

.left {
  position: fixed;
  top: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;

  width: $menu-width;
  height: 100vh;
  padding: 40px 10px 0 40px;

  background-color: $color-bg-menu;
  overflow: hidden;
  transition: all 0.5s;

  z-index: 100;

  @include respond-to(0, md) {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    width: auto;
    height: $header-height;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
  }
}

.navigationWrapper {
  overflow-y: auto;

  background-color: $color-bg-menu;
  z-index: 1000;

  @include hide-scrollBar;

  @include respond-to(0, md) {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.5s;
  }

  &--opened {
    @include respond-to(0, md) {
      right: 0;
      width: 100vw;
    }
  }
}

@keyframes scaleFromZero {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.logo {
  display: flex;
  flex-direction: column;
}

.title,
.subtitle {
  font-family: $font-display;
  font-weight: 500;
}

.title {
  margin-bottom: 10px;
  letter-spacing: initial;

  font-size: 40px;

  @include respond-to(0, md) {
    font-size: 25px;
    margin-bottom: 0;
  }
}

.subtitle {
  font-size: 25px;

  @include respond-to(0, md) {
    display: none;
  }
}

.menuButtonWrapper {
  display: none;

  z-index: 10000;

  @include respond-to(0, md) {
    display: inline-block;
  }
}

.right {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: $menu-width;
  min-height: 100vh;

  background-color: $colog-bg-primary;

  &--paddings {
    padding: 40px 50px;

    @include respond-to(0, md) {
      padding: 20px;
    }
  }

  @include respond-to(0, md) {
    margin-left: 0;
  }
}

.content {
  flex-grow: 1;
}

.upButtonWrapper {
  position: fixed;

  bottom: 10px;
  left: 40px;

  z-index: 1000;

  @include respond-to(0, md) {
    left: auto;
    right: 40px;
  }
}
