@import '/src/styles/variables/common.scss';

.galleryPreview {
  &:hover .photo {
    transform: scale(1.1);
  }

  &:hover .title {
    opacity: $links-opacity;
  }
}

.photo {
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: all 0.3s;
}

.title {
  margin-top: 15px;
  font-size: 35px;
  text-align: center;
  transition: all 0.3s;
}
