@import '/src/styles/mixins/filter.scss';
@import '/src/styles/variables/colors.scss';
@import '/src/styles/variables/common.scss';

.container {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
  padding: 10px;

  overflow-y: scroll;
  overflow-x: hidden;

  background-color: $color-modal-container-bg;
  z-index: 1000;

  @include blur(2px);
}

.modal {
  position: relative;
  padding: 70px 50px 50px;
  width: 650px;

  background-color: $color-modal-bg;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;

  cursor: pointer;

  &:hover,
  &:active {
    opacity: $icons-opacity;
  }
}
