@import '/src/styles/mixins/filter.scss';
@import '/src/styles/variables/colors.scss';
@import '/src/styles/variables/common.scss';
@import '/src/styles/variables/layout.scss';

.container {
  position: fixed;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  padding: 0 30px;

  overflow: hidden;

  background-color: $color-modal-container-bg;
  z-index: 1000;

  @include blur(5px);

  &--fullscreen {
    left: 0;
    width: 100vw;
  }

  &--rightSide {
    left: $menu-width;
    width: calc(100vw - $menu-width);
  }
}

.contentWrapper {
  position: relative;
}
