.header {
  display: flex;
  align-items: flex-start;
  margin-bottom: 50px;
  column-gap: 30px;

  &__text {
    flex-grow: 1;
  }

  &__title {
    font-size: 35px;
  }

  &__description {
    display: block;
    margin-top: 15px;
    line-height: 20px;
  }
}
