// $color-font-primary: #1B1B1B;
$color-font-primary: #000;

$color-font-error: rgb(248, 24, 91);

$colog-bg-primary: #f5f5f5;

$color-modal-container-bg: rgba(214, 208, 208, 0.5);

$color-modal-bg: #fff;

$color-borders: #cecccc;

$color-borders-focus: #25d8df;

$color-borders-error: rgb(248, 24, 91);
