@import '/src/styles/variables/colors.scss';
@import '/src/styles/variables/text.scss';
@import '/src/styles/mixins/texts.scss';

$error-block-heigth: 19px;

.wrapper {
  position: relative;

  padding-bottom: calc($error-block-heigth + 3px);
}

.label {
  position: relative;
  display: block;
}

.input {
  width: 100%;
  padding: 15px 10px;
  border: none;
  border: 1px solid transparent;
  border-bottom: 1px solid $color-borders;
  outline: none;

  font-family: $font-primary;
  font-size: 16px;

  transition: all 0.3s;

  &:focus {
    border: 1px solid $color-borders-focus;
    outline: none;
  }

  &--error {
    border: 1px solid $color-borders-error;
  }
}

.labelText {
  position: absolute;
  padding: 4px;

  background-color: $color-modal-bg;
  transition: all 0.3s;

  &--centered {
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  &--top {
    left: 7px;
    top: 0;
    transform: translateY(-50%) scale(0.7);
    color: $color-borders-focus;
  }

  &--error {
    color: $color-font-error;
  }
}

.error {
  position: absolute;
  display: flex;
  align-items: flex-start;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $error-block-heigth;
  padding: 5px 10px 0;
  color: $color-font-error;

  @include textEllipsis(1);
}
