$offset: 15px;

.gallery {
  column-count: 3;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-gap: $offset;

  &__photoWrapper {
    position: relative;

    &:not(:last-child) {
      margin-bottom: $offset;
    }
  }

  &__photo {
    width: 100%;
    height: auto;
  }
}
