@import '/src/styles/variables/text.scss';

.review {
  display: flex;
  gap: 30px;

  &--imageLeft {
    flex-direction: row-reverse;
  }
}

.textContent {
  display: flex;
  flex-direction: column;
  row-gap: 30px;

  flex-basis: 50%;

  &__title {
    margin-top: 20px;
    font-size: 25px;
  }

  &__text {
    line-height: 30px;
  }

  &__author {
    display: flex;
    align-items: center;
    column-gap: 10px;

    font-family: $font-display;
    font-size: 25px;
    font-weight: 500;
  }
}

.imageWrapper {
  position: relative;
  flex-basis: 50%;
  height: 330px;
}

.image {
  object-fit: cover;
}
