@import '/src/styles/variables/common.scss';

$arrowOffset: 30px;

.slider {
  height: 100vh;
}

.slideImage {
  &--cover {
    object-fit: cover;
  }

  &--contain {
    object-fit: contain;
  }
}

.arrowIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  opacity: $slider-controls-opacity;

  z-index: 10;
  cursor: pointer;

  &:hover,
  &:active {
    opacity: $icons-opacity;
  }

  &--left {
    left: $arrowOffset;
  }

  &--right {
    right: $arrowOffset;
  }
}
