@import '/src/styles/variables/common.scss';

$arrowOffset: 30px;

.slider {
  height: 100vh;
}

.slideImage {
  object-fit: cover;
}

.arrowIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  opacity: $slider-controls-opacity;

  z-index: 10;
  cursor: pointer;

  &--left {
    left: $arrowOffset;
  }

  &--right {
    right: $arrowOffset;
  }
}
